body {
  background: rgb(24, 30, 52);
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: rgb(255, 255, 255);
}

.container {
  max-width: 930px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.header {
  padding: 30px 0 36px;
}

.header .container {
  display: flex;
  align-items: center;
  height: 48px;
}

.header__nav {
  margin-left: auto;
}

.header__list {
  display: flex;
  gap: 30px;
}

.header__btn {
  padding: 14px 30px;
  margin-left: 30px;
  border-radius: 100px;
  background: rgb(255, 255, 255);
  color: rgb(39, 102, 174);
  font-weight: 500;
}
