:root {
  --general-text: rgb(49, 44, 39);
  --accent-text: rgb(31, 23, 17);
  --general-bg: rgb(255, 249, 244);
  --accent-bg: rgb(255, 224, 203);
  --accent-color: rgb(255, 165, 92);
  --transition: 0.5s;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 1.5;
  color: var(--general-text);
  background: var(--general-bg);
}

.body--opened-menu {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 15px;
  height: 62px;
  background-color: var(--accent-color);
  border-radius: 60px;
  text-align: center;
  min-width: 360px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  color: var(--general-text);

  transition: var(--transition);
}

.button:hover {
  background: rgb(255, 145, 56);
}

/* =================================================== */

.header {
  background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
}

.header__top {
  padding-top: 19px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__logo {
  max-width: 174px;
  z-index: 11;
}

.header__logo img {
  width: 100%;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav__link {
  padding: 5px 0;
  position: relative;
  z-index: 1;
}

.nav__link::before {
  position: absolute;
  content: "";
  width: 34px;
  height: 34px;
  left: -13px;
  top: -8px;
  background: var(--accent-color);
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  transition: var(--transition);
}

.nav__link:hover::before {
  opacity: 1;
}

.burger-icon {
  display: none;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  z-index: 11;
  align-self: center;
}

.burger-icon span {
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background: var(--general-text);
  position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
  content: "";
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background: var(--general-text);
  position: absolute;

  transition: var(--transition);
}

.burger-icon span::before {
  top: -8px;
}

.burger-icon span::after {
  bottom: -8px;
}

.body--opened-menu .burger-icon span {
  background: transparent;
}

.body--opened-menu .burger-icon span::before {
  top: 0;
  transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

/* ================================================= */

.hero {
  padding: 50px 0 140px;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
}

.hero__content {
  max-width: 520px;
}

.hero__info {
  text-align: 1.6;
  text-transform: uppercase;
  color: rgb(177, 151, 179);
  margin-bottom: 20px;

  display: flex;
  flex-wrap: wrap;
}

.hero__info span {
  display: flex;
  align-items: center;
}

.hero__info span::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: rgb(177, 151, 179);
  border-radius: 50%;
  margin: 0 10px;
}

.hero__info span:last-child:after {
  content: none;
}

.hero__title {
  color: var(--accent-text);
  font-family: "Gabriola";
  font-size: 74px;
  line-height: 0.82;
  margin-bottom: 30px;
}

.hero__text {
  margin-bottom: 40px;
  max-width: 360px;
}

.hero__button {
  max-width: 360px;
  width: 100%;
}

.hero__img {
  position: relative;
  margin-right: 247px;
}

.hero__img > img {
  width: 100%;
}

.hero__img-control {
  position: absolute;
  display: flex;
  align-items: center;
  left: calc(100% - 39px);
  bottom: 11%;
  gap: 10px;
  max-width: 200px;
  width: 100%;
}

.hero__img-control--mobile {
  display: none;
  justify-content: center;
  margin-bottom: 30px;
}

.hero__img-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 78px;
  height: 78px;
  box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.3);
  background: rgb(255, 224, 203);
  border-radius: 50%;
}

.hero__img-button img {
  padding-left: 8%;
}

.hero__img-button:before {
  content: "";
  border-radius: 50%;
  border: 1px solid var(--accent-color);
  position: absolute;
  width: 68px;
  height: 68px;
  inset: 5px;

  opacity: 0;
  transition: var(--transition);
}

.hero__img-button:hover::before {
  opacity: 1;
}

/* =========================================================== */

.footer {
  background: rgb(171, 130, 97);
  padding: 60px 0 60px;
  color: var(--general-bg);
}

.footer__inner {
  display: grid;
  gap: 40px 15px;
  grid-template-columns: 0.9fr 0.9fr 1.1fr auto;
}

.footer__col:first-child {
  margin-top: -30px;
}

.footer__logo {
  display: block;
  max-width: 240px;
}

.footer__logo img {
  width: 100%;
}

.footer__logo-text {
  margin-bottom: 20px;
}

.socials {
  line-height: 0;
}

.socials__list {
  display: flex;
  gap: 15px;
}

.socials__link path {
  transition: var(--transition);
}

.socials__link:hover path {
  fill: var(--accent-color);
}

.footer__col-list {
  margin-top: -5px;
}

.footer__col-item {
  margin-bottom: 10px;
}

.footer__col-item:last-child {
  margin-bottom: 0;
}

.footer__col-link {
  display: block;
  padding: 5px 0;
  position: relative;
  z-index: 1;
}

.footer__col-link::before {
  position: absolute;
  content: "";
  width: 34px;
  height: 34px;
  left: -13px;
  top: -8px;
  background: var(--accent-color);
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  transition: var(--transition);
}

.footer__col-link:hover::before {
  opacity: 1;
}

.footer__contact-item {
  margin-bottom: 10px;
}

.footer__contact-item:last-child {
  margin-bottom: 0;
}

.footer__col-tel {
  margin-bottom: 47px;
}

.footer__col-number {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.6;
  transition: var(--transition);
}

.footer__col-number:hover {
  color: var(--accent-color);
}

.footer__col-copy {
  color: rgb(222, 197, 177);
}

/* ============================================================ */
/* ============================================================ */
/* ============================================================ */

@media (max-width: 1200px) {
  .hero__img {
    margin: 0;
    max-width: 377px;
  }

  .hero__img-control {
    position: static;
    width: 100%;
    max-width: unset;
    margin-top: 30px;
  }

  /* ---------------------------------------- */

  .footer__inner {
    grid-template-columns: repeat(3, auto);
  }

  .footer__col:last-child {
    grid-column: 1 / -1;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .nav {
    position: fixed;
    inset: 0;
    z-index: 10;
    background: var(--general-bg);
    padding: 26vh 15px 30px;
    font-size: 24px;
    text-align: center;

    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
  }

  .nav__list {
    flex-direction: column;
    gap: 4vh;
  }

  .body--opened-menu .nav {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .burger-icon {
    display: flex;
  }

  /* ------------------------------------ */

  .footer__inner {
    grid-template: none;
    justify-content: center;
    text-align: center;
    gap: 0;
  }

  .footer__col:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .footer__col:nth-child(2){
    margin-bottom: 40px;
  }

  .footer__col:nth-child(3){
    margin-bottom: 10px;
  }

}

@media (max-width: 800px) {
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: unset;
    width: 100%;
  }

  .hero__img {
    display: none;
  }

  .hero__img-control--mobile {
    display: flex;
    margin: 0 0 30px;
  }
}

@media (max-width: 600px) {
  .hero {
    padding-bottom: 80px;
  }

  .hero__title {
    font-size: 12vw;
  }

  .hero__img-control--mobile {
    text-align: left;
  }
}
