:root {
  --general-light-text: rgb(253, 253, 253);
  --general-dark-text: rgb(24, 18, 30);
  --general-dark-bg: rgb(26, 62, 62);
  --btn-border-rad: 4px;
  --link-hover-color: rgb(242, 190, 34);
  --transition: 0.5s;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5vw;
}

body {
  color: var(--general-dark-text);
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 18px;
  width: 137px;
  margin-right: 50px;
  z-index: 11;
}

.logo svg {
  width: 100%;
}

.logo path {
  transition: var(--transition);
}

.logo:hover path {
  fill: var(--link-hover-color);
}

.nav__link {
  position: relative;
  padding: 5px 0;
  transition: var(--transition);
}

.nav__link::before {
  position: absolute;
  bottom: 5px;
  left: 50%;
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--link-hover-color);
  transition: var(--transition);
}

.nav__link:hover:before {
  position: absolute;
  bottom: 5px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--link-hover-color);
}

.nav__link:hover {
  color: var(--link-hover-color);
}

.btn {
  background-color: var(--general-dark-bg);
  border-radius: var(--btn-border-rad);
  color: var(--general-light-text);
  font-size: 16px;
  font-weight: 600;
  padding: 16px 36px;
  border: 1px solid var(--general-dark-bg);
  white-space: nowrap;
  transition: var(--transition);
}

.btn:hover {
  border-radius: var(--btn-border-rad);
  background: var(--general-light-text);
  color: var(--general-dark-bg);
}

.burger-icon {
  position: relative;
  align-items: center;

  width: 40px;
  height: 35px;
  cursor: pointer;
  display: none;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
  width: 100%;
  height: 3px;
  background-color: var(--general-light-text);
  border-radius: var(--btn-border-rad);
  transition: var(--transition);
}

.burger-icon span::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}

.burger-icon span::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 50%;
}

.burger-icon:hover span,
.burger-icon:hover span::before,
.burger-icon:hover span::after {
  background-color: var(--link-hover-color);
}

.header__nav--active .burger-icon span {
  background-color: transparent;
}
.header__nav--active .burger-icon span::before {
  top: 45%;
  transform: rotate(45deg);
}
.header__nav--active .burger-icon span::after {
  bottom: 45%;
  width: 100%;
  transform: rotate(-45deg);
}

.select__wrapper {
  position: relative;
  width: 100%;
  height: 52px;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid rgb(225, 227, 228);
  border-radius: 8px;
  transition: var(--transition);
}

.select__wrapper:hover {
  border: 1px solid var(--link-hover-color);
}

.select__wrapper span {
  position: absolute;
  bottom: -30px;
  left: 0;
  font-size: 14px;
  padding: 8px;
}

.select__wrapper-img {
  position: absolute;
  top: 50%;
  right: 7%;
  transform: translateY(-50%);
  pointer-events: none;
}

.select__date-btn {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 16px;
  cursor: pointer;
}

.input__date-wrapper {
  padding: 10px;
}

.select__date-input {
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  overflow: hidden;
  max-height: 0;
  background-color: rgb(82, 125, 146);
  border-radius: 10px;
  padding: 0 10px;
  transition: var(--transition);
}

.select__date-input--mobile {
  display: none;
  overflow: hidden;
  max-height: 0;
  background-color: rgb(82, 125, 146);
  border-radius: 10px;
  transition: var(--transition);
}

.select__date-input input {
  width: 100%;
  padding: 5px 10px;
  border-radius: var(--btn-border-rad);
}

.select__date-input--mobile input {
  width: 100%;
  padding: 5px 10px;
  border-radius: var(--btn-border-rad);
}

.form__input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.form__input option {
  background-color: rgb(82, 125, 146);
}

/* Модалка------------------------- */

.modal {
  display: flex;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.274);
  z-index: 10;
  padding: 0 15px;

  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}

.body--opened-modal {
  overflow: hidden;
}

.body--opened-modal .modal {
  opacity: 1;
  visibility: visible;
}

.modal__window {
  position: relative;
}

.modal__cancel {
  position: absolute;
  right: 2%;
  top: 2%;
  z-index: 10;
}

.modal__cancel path,
.modal__cancel rect {
  transition: var(--transition);
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
  stroke: var(--link-hover-color);
}

/* Header ======================================================= */

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: url("../img/decor/header-bg.jpeg") 50% 50% / cover no-repeat;
  height: 100vh;
  padding-top: 25px;
  padding-bottom: 100px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--general-light-text);
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
}

.header__nav {
  margin-left: auto;
  margin-right: 50px;
  z-index: 10;
}

.header__nav--active .header__nav {
  transform: translateX(0);
  opacity: 1;
}

.header__nav-list {
  display: flex;
  gap: 16px 24px;
}

.header__btn--mobile {
  display: none;
}

.header__btn {
  padding: 12px 24px;
}

/* Header hero-------------------------- */

.hero__title {
  color: var(--general-light-text);
  font-family: "NEXT ART", sans-serif;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 40px;
  max-width: 1080px;
}

.hero__form {
  display: flex;
  justify-content: space-between;
  gap: 0 24px;
  padding: 40px;
  border-radius: 10px;
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.2);
  color: var(--general-light-text);
}

.hero__form-input {
  width: 100%;
  height: 100%;
  border-radius: var(--btn-border-rad);
  padding: 0 16px;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.header__form-btn {
  background: var(--general-light-text);
  padding: 15px 36px;
  color: var(--general-dark-text);
  font-size: 16px;
  font-weight: 700;
}

.header__form-btn:hover {
  background: var(--general-dark-bg);
  color: var(--general-light-text);
}

.header__form-btn-mobile {
  display: none;
  padding: 16px 36px;
}

/* Адаптация=========================================== */
/* Адаптация=========================================== */
/* Адаптация=========================================== */
/* Адаптация=========================================== */
/* Адаптация=========================================== */

@media (max-width: 1100px) {
  .header {
    padding-bottom: 40px;
  }

  .header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--general-light-text);
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
  }

  .header__logo {
    gap: 10px;
    width: 100px;
  }

  .header__nav-list {
    gap: 16px 15px;
  }

  .header__btn {
    padding: 8px 18px;
  }

  /* Hero---------------------------------------- */

  .hero__title {
    font-size: 5vw;
    margin-bottom: 20px;
    max-width: 70vw;
  }

  .hero__form {
    gap: 0 15px;
    padding: 30px;
  }
}

/* ================================================= */

@media (max-width: 900px) {
  .burger-icon {
    display: flex;
  }

  .header__nav {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 100px 30px;
    background-color: var(--general-dark-bg);
    transform: translateX(-100%);
    opacity: 0;
    transition: var(--transition);
  }

  .header__nav-list {
    flex-direction: column;
  }

  .header__btn {
    display: none;
  }

  .header__btn--mobile {
    display: block;
    background-color: var(--general-light-text);
    color: var(--general-dark-text);
    margin-top: 25px;
  }

  /* Form----------------------------- */

  .hero__form {
    flex-direction: column;
    transition: var(--transition);
  }

  .select__wrapper {
    margin-bottom: 30px;
  }

  .select__date-input {
    display: none;
  }

  .select__date-input--mobile {
    display: block;
  }
}

@media (max-width: 600px) {
  .hero__title {
    font-size: 28px;
    margin-bottom: 20px;
    max-width: unset;
  }

  .hero .hero__form {
    display: none;
  }


  .body--opened-modal .modal .hero__form {
    display: flex;
  }

  .select__date-input {
    display: none;
  }

  .header__form-btn-mobile {
    display: flex;
  }
}
